django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
python-dotenv
requests
beautifulsoup4

pypdf
python-docx
python-pptx

pytesseract
pdf2image
Pillow

sentence-transformers
chromadb
groq

google-api-python-client
google-auth
google-auth-oauthlib